/*-- scss:defaults --*/
$body-color: #111;
$headings-font-weight: 650;

/*-- scss:rules --*/
body {
  letter-spacing: 0.1px;
}

main {
  max-width: 860px;
}

h1, h2, h3 {
  letter-spacing: -0.2px;
}

table {
  font-size: 0.95rem;
}

.katex, .mathjax {
  font-size: 1.05em;
}
